@charset "UTF-8";
body {
  background-color: #fff;
  color: #000;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.title {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding: 94px 0;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__text {
  color: #000;
}

.logo__footer {
  color: #fff;
}

.footer-logo {
  margin-bottom: 20px;
}

/* sete nav*/
.site-nav__label {
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding: 30px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__label:hover, .site-nav__label:focus {
  color: #2196f3;
}

/* позиционирование nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.current {
  color: #2196f3;
}

.current::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translate(0, 20%);
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/*коннтакты*/
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  display: flex;
  align-items: center;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__link__link:last-child {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
}

/*коннтакты footer*/
.contacts-footer__link {
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.8;
  margin-top: 9px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover, .contacts-footer:focus {
  color: #2196f3;
}

.contacts-footer__address {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
}

/* Hero*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/new-Img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*Button*/
.primary-button {
  color: #fff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  max-height: 50px;
  line-height: 1.8;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover, .primary-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*особенности*/
.features {
  display: flex;
  justify-content: space-between;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

.features__item {
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 120px);
}

.features__item:last-child {
  margin-left: 0px;
}

.features__icon {
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.work {
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
  padding-top: 0px;
}

.work__title {
  position: relative;
}

.work__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.section-team {
  background: #f5f4fa;
}

.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
  text-transform: uppercase;
}

.team__position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
}

.team__decryption {
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.social-link {
  display: flex;
  padding: 16px 32px 0 32px;
}

.social-link__icon {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__icon:hover, .social-link__icon:focus {
  background-color: #2196f3;
  fill: #fff;
}

/*постоянные клиенты*/
.client {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.client__icon {
  display: block;
  padding: 12px 36px;
  border: none;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover, .client__icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer-box {
  display: flex;
  align-items: center;
}

.footer-disription {
  margin: 0;
  margin-bottom: 20px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-link {
  display: flex;
}

.footer-link__item {
  margin-right: 10px;
}

.footer-link__item:last-child {
  margin-right: 0;
}

.footer-link__icon {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link__icon:hover, .footer-link__icon:focus {
  background-color: #2196f3;
}

.social {
  margin-left: 70px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.e-mail-box {
  margin-left: auto;
}

.email {
  display: flex;
  justify-content: space-between;
}

.email__box {
  margin-left: 0;
  padding: 8px;
  display: flex;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}

.email__button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.email__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* модальное окно*/
input {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop {
  transform: translate(-50%, -50% scale(0.1));
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50% scale(1));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 0;
  right: 0;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  fill: #2196f3;
}

.modal__icon-close {
  width: 18px;
  height: 18px;
}

.modal__title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-group__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
}

.form-group__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.form-group__input, .form-group__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input:hover, .form-group__input:focus {
  border: 1px solid #2196f3;
}

.form-group__input:hover + .form__icon,
.form-group__input:focus + .form__icon {
  fill: #2196f3;
}

.form-group__input:focus-within {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.form-group__comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.form-group__comment:hover, .form-group__comment:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-group__comment:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.form__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn {
  text-align: center;
}

.input-group-absolute {
  position: relative;
}

.form-group .comment {
  margin-bottom: 20px;
}

.checkbox {
  margin: 20px 0 30px 12px;
}

.checkbox__label {
  display: inline-block;
  font-size: 14px;
  line-height: 1.8;
  color: #757575;
  letter-spacing: 0.03em;
}

.checkbox__label {
  appearance: none;
  position: absolute;
}

.checkbox__policy::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label:checked + .checkbox__policy::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/Vector.svg);
  background-origin: border-box;
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */