/*коннтакты*/
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts__link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  display: flex;
  align-items: center;
  fill: $primary-text-color;
  transition: color 250ms $timing-function, fill 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &__link:last-child {
    margin-left: 50px;
  }
}
.contacts__icon {
  margin-right: 10px;
}
/*коннтакты footer*/
.contacts-footer {
  &__link {
    background: $background-color;
    color: $color-contacts-footer-link;
    font-size: 14px;
    font-style: normal;
    line-height: 1.8;
    margin-top: 9px;
    display: inline-block;
    transition: color 250ms $timing-function;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &__address {
    color: $whitе-color-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    font-style: normal;
  }
}
