/*коннтакты*/
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &__link:last-child {
    margin-left: 50px;
  }
}
.contacts__icon {
  margin-right: 10px;
}
/*коннтакты footer*/
.contacts-footer {
  &__link {
    background: var(--background-color);
    color: var(--color-contacts-footer-link);
    font-size: 14px;
    font-style: normal;
    line-height: 1.8;
    margin-top: 9px;
    display: inline-block;
    transition: color 250ms var(--timing-function);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &__address {
    color: var(--whitе-color-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    font-style: normal;
  }
}
