.title {
  text-align: center;
  margin-bottom: 50px;
}
.section-team {
  background: $filter__background-color;
}
.team {
  &__name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $second-color;
    text-transform: uppercase;
  }
  &__position {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding-top: 10px;
  }
  &__decryption {
    padding: 30px 0;
    border-radius: 0px 0px 4px 4px;
    background-color: $whitе-color-text;
  }
}
.social-link {
  display: flex;
  padding: 16px 32px 0 32px;
  &__icon {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: $fill-icon;
    transition: background-color 250ms $timing-function,
      fill 250ms $timing-function;
  }
  &__icon:hover,
  &__icon:focus {
    background-color: $accent-color;
    fill: $whitе-color-text;
  }
}
