.work {
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
  padding-top: 0px;
  &__title {
    position: relative;
  }
  &__box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    background-color: var(--background-icon-work);
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--whitе-color-text);
  }
}
